<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= blog.title %></title>
    <link rel="stylesheet" href="/stylesheets/semantic/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/stylesheets/jquery-3.1.1.js"></script>
    <script src="/stylesheets/semantic/semantic.min.js"></script>
  </head>
  <body>
  <%- include('components/nav') %>
  <%- include('components/nav-setting') %>
  <%- include('components/notification') %>